<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
      <ion-avatar (click)="toHome()" slot="end">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ng-template #placeholder_avatar></ng-template>
    
    <ion-title>Perfil Mascota</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-menu" color="light" text="Atras"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-no-padding inihf">
			<ion-card>
				<img class="image"  [src]="petPerfil.url">
				<ion-card-content>
          Situacion: {{petPerfil.situacion}}<br>
          Sexo: {{petPerfil.sexo}}<br>
          Raza: {{petPerfil.raza}}<br>
          Color: {{petPerfil.color}}<br>
          Tamaño: {{petPerfil.tamano}}<br>
          Temperamento: {{petPerfil.temperamento}}<br>
        </ion-card-content>
        <div #map id="map" style="height:300px;"></div>
			</ion-card>
</ion-content>


<ion-footer *ngIf="perdido" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-button (click)="encontrarMascota()" shape="round" expand="block" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
      ENCONTRADO
    </ion-button>
  </ion-toolbar>
</ion-footer>
 

<ion-footer *ngIf="!perdido" class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-button (click)="adoptarMascota()" shape="round" expand="block" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
      ADOPTAR
    </ion-button>
  </ion-toolbar>
</ion-footer>









<!-- 




<ion-content class="ion-padding inihf">
  <ion-card>
    <img class="image"  [src]="petPerfil.url">
    <ion-card-header>
      <ion-card-subtitle>{{petPerfil.tipo}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
            Situacion: {{petPerfil.situacion}}<br>
            Sexo: {{petPerfil.sexo}}<br>
            Raza: {{petPerfil.raza}}<br>
            Color: {{petPerfil.color}}<br>
            Tamaño: {{petPerfil.tamano}}<br>
            Temperamento: {{petPerfil.temperamento}}<br>
    </ion-card-content>
  </ion-card>
</ion-content>
 -->

