<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
    <ion-title>Registro Mascota</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-menu" color="light" text="Atras"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="tema">

  <ion-grid class="main-header">
    <div align="center">

   <!--    <ion-item>
        <img class="image"  [src]="data.url">
      </ion-item> -->

      <ion-avatar (click)="changePhoto()">
        <!-- <img *ngIf="pet?.photoUrl; else placeholder_avatar;" [src]="pet.photoUrl" />-->
        <img *ngIf="getPetImage?.url; else placeholder_avatar;" [src]="getPetImage.url" /> 
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Selecciona Foto</p>
          </div>
        </ng-template>
      </ion-avatar>
    </div>
  </ion-grid>

 <!--  <ion-content padding>
    <p>Latitud: {{lat}}</p>
    <p>Longitud: {{lon}}</p>
    <p>Altitud: {{alt}}</p>
    <p>Presicion: {{accur}}</p>
  </ion-content> -->

  <ion-button>
    <label for="file-upload">
      <ion-icon slot="icon-only" name="images"></ion-icon>
    </label>
     <input  (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
 </ion-button>

  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Tipo De Animal</ion-label>
    <ion-input  [(ngModel)]="data.tipo" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Sexo</ion-label>
    <ion-input [(ngModel)]="data.sexo" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Raza</ion-label>
    <ion-input [(ngModel)]="data.raza" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Color</ion-label>
    <ion-input [(ngModel)]="data.color" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Temperamento</ion-label>
    <ion-input [(ngModel)]="data.temperamento" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Tamaño</ion-label>
    <ion-input [(ngModel)]="data.tamano" type="text"></ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Latitud</ion-label>
    <ion-input [(ngModel)]="data.lat" type="number" readonly>{{lat}}</ion-input>
  </ion-item>
  <ion-item class="ion-padding tema">
    <ion-label class="letra-input" position="floating">Longitud</ion-label>
    <ion-input [(ngModel)]="data.lon" type="number" readonly>{{lon}}</ion-input>
  </ion-item>

  <ion-button  (click)="registrarPet()" color="warning" class="ion-margin letra-boton" expand="block">Registrar Mascota</ion-button>

</ion-content>
