<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
      <ion-avatar (click)="home()" slot="end">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ng-template #placeholder_avatar></ng-template>
    
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding inihf">
  <capacitor-google-maps #map></capacitor-google-maps>
</ion-content>


<ion-footer>
  <ion-tabs #tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">

    
    <ion-tab-button (click)="testeandoID()"> <!-- tab="home" -->
      <ion-icon (click)="testeandoID()" [name]="selectTab == 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>

   <!--  <ion-tab-button tab="search" class="search">
      <ion-icon [name]="selectTab == 'search' ? 'search' : 'search-outline'"></ion-icon>
    </ion-tab-button> -->


    <svg (click)="toRegisterPet()" height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"> 
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" 
        fill="red" fill-rule="evenodd" >
      </path>
    </svg>

   <!--  <ion-tab-button tab="wishlist" class="wishlist">
      <ion-icon [name]="selectTab == 'wishlist' ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-tab-button> -->
 
    <ion-tab-button (click)="home()"> <!-- tab="profile"  -->
      <ion-icon (click)="home()" [name]="selectTab == 'profile' ? 'person' : 'person-outline'"></ion-icon>
   <!--    <ion-avatar (click)="home()">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ng-template #placeholder_avatar></ng-template> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>

</ion-footer>

