<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
      <ion-avatar (click)="toHome()" slot="end">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ng-template #placeholder_avatar></ng-template>
    
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding inihf">
  <!-- <capacitor-google-maps #map></capacitor-google-maps> -->
  <ion-list class="ion-padding inihf">
    <ion-list-header> Mascotas En Adopcion </ion-list-header>

    <ion-item *ngFor="let reporte of Reportes" (click)="toProfilePet(reporte.id)">
      <ion-avatar slot="start">
        <img class="image"  [src]="reporte.url">
      </ion-avatar>
      <ion-label>
        <h2>{{reporte.situacion}}: {{reporte.tipo}} {{reporte.raza}} </h2>
        <h2>{{reporte.color}}</h2>
        <h3>{{reporte.sexo}}</h3>
        <p>{{reporte.raza}}</p>
      </ion-label>
    </ion-item>



  </ion-list>
</ion-content>


<ion-footer>
  <ion-tabs #tabs>
  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button (click)="toRegisterPet()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="toHomePet()"> 
      <ion-icon (click)="toHomePet()" [name]=" 'home' ? 'home' : 'home-outline'"></ion-icon>
    </ion-tab-button>
    <svg (click)="toRegisterPet()" height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"> 
      <path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd" ></path>
    </svg>
    <ion-tab-button (click)="toHome()">
      <ion-icon (click)="toHome()" [name]="'profile' ? 'person' : 'person-outline'"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-footer>

