<ion-header class="tema ion-no-border">
  <ion-toolbar class="tema">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding tema">

  <ion-img  src="assets/img/login.png"></ion-img>

  <form [formGroup]="credentials" (ngSubmit)="login()">
    <ion-item fill="solid" class=" tema ion-margin-bottom">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email es invalido</ion-note>
    </ion-item>

    <ion-item fill="solid" class="tema ion-margin-bottom">
      <ion-icon name="key-outline" slot="start"></ion-icon>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Su contraseña debe tener al menos 6 y hasta 12 caracteres</ion-note>
    </ion-item>

    <ion-button expand="block" shape="round" color="tertiary" type="submit" [disabled]="!credentials.valid" style="margin-bottom: 3%">Ingresar</ion-button>
    <ion-button expand="block" shape="round" color="danger" type="button" (click)="register()">Crear Cuenta</ion-button>
  </form>


  <ion-button expand="block" shape="round" color="danger" type="button" (click)="signIn()" *ngIf="!user">
    <ion-icon name="logo-google" slot="start"></ion-icon>Iniciar con Google
  </ion-button>

  <ion-button expand="block" shape="round" color="danger" type="button" (click)="signOut()" *ngIf="user">Salir de Google</ion-button>

  
</ion-content>
<ion-footer class="tema">
  <ion-toolbar class="tema" style="display: inline-block; color:rgb(223, 222, 222)">
    <ion-title class="tema" style="font-size: 15px; display: inline-block;">@Yerko Tolosa</ion-title>
    <ion-title class="tema" style="font-size: 15px; display: inline-block; margin-left: 5%;">@Marcelo Morales</ion-title>
  </ion-toolbar>
</ion-footer>