<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
      <ion-avatar (click)="toHome()" slot="end">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ng-template #placeholder_avatar></ng-template>
    
    <ion-title>Hogares Temporales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-menu" color="light" text="Menu"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding inihf">
<capacitor-google-maps #map></capacitor-google-maps>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="toRegisterHogar()" color="warning">
    <ion-icon name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>

