<ion-header class="ion-no-border">
  <ion-toolbar class="tema">
      <ion-avatar (click)="toHome()" slot="end">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" class="avatar"/>
      </ion-avatar>
      <ion-button (click)="toRegisterHogar()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ng-template #placeholder_avatar></ng-template>
    
    <ion-title>Hogares Temporales</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="main-menu" color="light" text="Atras"></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding inihf">
<capacitor-google-maps #map></capacitor-google-maps>


</ion-content>
