<ion-header class="ion-no-border">
  
  <ion-toolbar class="tema">
    <ion-title> Mi perfil </ion-title>
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
     <ion-back-button defaultHref="main-menu" color="light" text="Menu"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" fill="clear" (click)="editar()">EDITAR</ion-button>
     </ion-buttons>
  </ion-toolbar>

</ion-header>

 <ion-content [fullscreen]="true">

  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar>
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p></p>
          </div>
        </ng-template>
      </ion-avatar>
    </div>
  </ion-grid>

  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="paw" color="danger"></ion-icon>
        <ion-label>
          {{perfil.reportes}}
          <p>Reportes</p>
        </ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item lines="none" class="ion-text-center">
        <ion-icon name="trophy" color="danger"></ion-icon> 
        <ion-label>
          {{perfil.premios}}
          <p>Premios</p>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Nombre</ion-text>
        <p><ion-text color="dark">{{perfil?.nombre}} {{perfil?.apellido}}</ion-text></p>   <!-- {{perfil.nombre}} {{perfil.apellido}} -->
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Correo</ion-text>
        <p><ion-text color="dark">{{perfil?.correo}} </ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Fecha Nacimiento</ion-text>
        <p><ion-text color="dark">{{perfil?.fecha_nacimiento}}</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Sexo</ion-text>
        <p><ion-text color="dark">{{perfil?.sexo}}</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Region</ion-text>
        <p><ion-text color="dark">{{perfil?.region}}</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Ciudad</ion-text>
        <p><ion-text color="dark">{{perfil?.ciudad}}</ion-text></p>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-button (click)="logout()" shape="round" expand="block" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
      CERRAR SESION
    </ion-button>
  </ion-toolbar>
</ion-footer>
