<ion-header class="ion-no-border">
  
  <ion-toolbar class="tema">
    <ion-title> Mi perfil </ion-title>
    <ion-buttons slot="start">
     <ion-menu-button></ion-menu-button>
     <ion-back-button (click)="atras()" color="light" text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

 <ion-content [fullscreen]="true">

  <ion-grid class="main-header">
    <div align="center">
      <ion-avatar (click)="changeImage()">
        <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />
        <ng-template #placeholder_avatar>
          <div class="fallback">
            <p>Selecciona Foto</p>
          </div>
        </ng-template>
      </ion-avatar>
    </div>
  </ion-grid>


  <ion-list lines="full">
    <ion-item>
      <ion-label>
        <ion-text>Sexo</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.sexo"></ion-input>
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-label>
        <ion-text>Nombre</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.nombre"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Apellido</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.apellido"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Email</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.correo"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Fecha Nacimiento</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.fecha_nacimiento"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Region</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.region"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Ciudad</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.ciudad"></ion-input>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <ion-text>Direccion</ion-text>
        <ion-input color="dark" type="text" [(ngModel)]="data.direccion"></ion-input>
      </ion-label>
    </ion-item>

  </ion-list>
  <ion-button (click)="editarUsuario()" shape="round" expand="block" color="danger">
    <ion-icon slot="end" name="log-out"></ion-icon>
    Editar
  </ion-button>
</ion-content>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-title></ion-title>
    <ion-button (click)="logout()" shape="round" expand="block" color="danger">
      <ion-icon slot="end" name="log-out"></ion-icon>
      CERRAR SESION
    </ion-button>
  </ion-toolbar>
</ion-footer>
 -->